.van-nav-bar {
  height: 40px;
  line-height: 40px;
}

.van-nav-bar {
  background-color: #1989fa;
}
.van-nav-bar__title,
.van-nav-bar__arrow,
.van-nav-bar__text {
  color: #fff !important;
  font-size: 14px;
}
